<footer class="mt-4 mb-4 border-top">
    <div class="container mt-4">
        <div class="row">
            <div class="col-md-8">
                <ul class="navbar-nav ms-auto d-flex flex-row align-items-center">
                    <li class="nav-item me-3"><a href="">Home</a></li>
                    <li class="nav-item me-3"><a href="">Recursos</a></li>
                    <li class="nav-item me-3"><a href="">Benefícios</a></li>
                    <li class="nav-item"><a href="">Preços</a></li>
                </ul>
            </div>
            <div class="col-md-4 d-flex justify-content-end">
                <a href="" class="btn btn-outline-dark me-3">
                    <i class="fab fa-x-twitter"></i>
                </a>
                <a href="" class="btn btn-outline-dark me-3">
                    <i class="fab fa-facebook"></i>
                </a>
                <a href="" class="btn btn-outline-dark me-3">
                    <i class="fab fa-youtube"></i>
                </a>
                <a href="" class="btn btn-outline-dark me-3">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href="" class="btn btn-outline-dark">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>
    </div>
</footer>