<header>
    <nav class="navbar navbar-expand-sm navbar-light bg-warning">
        <div class="container">

            <a href="#" class="navbar-brand">
                <img src="/img/logo.png" width="142" alt="Logotipo da Finans">
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#nav-principal" aria-controls="nav-principal" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="nav-principal">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a href="" class="nav-link text-white">Início</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link text-white">Recursos</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link text-white">Benefícios</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="nav-link text-white">Preços</a>
                    </li>
                    <li class="nav-item">
                        <a href="" class="btn btn-outline-light ms-4">Entrar</a>
                    </li>
                </ul>
            </div>

        </div>
    </nav>
</header>